.search-wrapper {
    position: relative;

    .dropdown {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        padding: 1rem;
        box-sizing: border-box;
        border: 1px solid #000;
        border-top: none;
        border-radius: 5px;
        background-color: #fff;
        width: 100%;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .option {
            cursor: pointer;
            width: 100%;
        }
    }

    .no-data {
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}